# flake8 doesn't allow for pyproject.toml configuration.
[flake8]
# https://flake8.readthedocs.org/en/latest/
exclude=\
    venv*/*,\
    local/*,\
    docs/*,\
    build/*,\
    tests/apps/*,\
    .eggs/*,\
    .tox/*
max-line-length = 119
extend-ignore =
    # whitespace before :
    # See https://github.com/PyCQA/pycodestyle/issues/373
    E203,
